html {
  min-height: 100%;
}

body {
  font-family: "Oswald", sans-serif;
  background-image: linear-gradient(to top, #4765c7 0%, #c4dcff 100%);
  background-repeat: no-repeat;
  color: #fff;
}

.card {
  padding: 30px 30px 0 30px;
  margin: 140px auto;
  margin-bottom: 0;
  background-color: #232558;
  max-width: 800px;
  border-radius: 12px 12px 0 0;
}

input {
  border: 0;
  border-radius: 6px;
  margin-bottom: 30px;
}

h1 {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #232558;
  width: 100%;
  padding: 10px 0 15px 0;
  z-index: 1;
  box-shadow: 0 5px 5px rgba(68, 46, 46, 0.3);
}

#city {
  font-size: 60px;
  margin: 30px 0 30px 0;
}

#location-button-image,
#search-button-image {
  width: 20px;
  height: 20px;
  margin: 0 0 2px 0;
}

#location-button {
  border-radius: 5px;
  margin-left: 13px;
}

#date,
#temp-description {
  text-align: left;
  margin: 0 0 10px 0;
  line-height: 45px;
}
#date {
  font-size: 30px;
}
#temp-description {
  padding: 0;
  margin: 10px 0 10px 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

#main-temp {
  font-size: 60px;
  text-align: left;
  margin: 0;
  padding: 0;
}

.date-time {
  font-size: 30px;
  text-align: center;
  margin: 30px 0 30px 0;
}

.card-text:last-child {
  margin-top: 35px;
  margin-bottom: 20px;
}
img {
  margin: 20px 0;
}

.form-control {
  max-width: 250px;
  border-radius: 5px 0 0 5px;
  margin-bottom: 20px;
  border: 0;
}

.wind-speed,
.pressure,
.humidity {
  margin: 15px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

button {
  color: #fff;
  background-color: #4d50bf;
  border: 0;
  border-radius: 0 5px 5px 0;
}
#button {
  padding: 6px 14px;
}
.btn {
  border-radius: 0 5px 5px 0;
}

button:hover {
  cursor: pointer;
  background-color: #6468e2;
}

#change-to-F,
#change-to-C {
  font-size: 25px;
  position: relative;
  top: -28px;
}

.weekdays {
  background-color: white;
  color: #232558;
  text-align: center;
  padding: 35px 20px 0 20px;
  border-radius: 0 0 12px 12px;
  margin: 0 auto;
  max-width: 800px;
  font-family: "Roboto", sans-serif;
}

footer {
  text-align: center;
  margin: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

.col-sm {
  margin-bottom: 30px;
}

a {
  color: #fff;
  text-decoration: underline;
}

@media screen and (max-width: 576px) {
  #city {
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
  }
  #date,
  #temp-description,
  #main-temp {
    text-align: center;
  }
}

@media screen and (max-width: 475px) {
  .card {
    margin: 100px auto 0;
  }
}

@media screen and (max-width: 400px) {
  #location-button {
    display: block;
    margin: 0 auto;
    border-radius: 0 5px 5px 0;
  }
}
